<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yu.com.filepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".activity.MainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="yu.com.filepicker.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/yu_file_picker_file_paths" />
        </provider>
    </application>
</manifest>
